<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/charisma.log</file>
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="ROLLING_FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/app.log</file>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>
                logs/app.%d{yyyy-MM-dd-mm}.%i.log.zip
            </fileNamePattern>
            <maxFileSize>100KB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>1MB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="io.ktor.auth.jwt" level="WARN"/>
    <logger name="org.eclipse.jetty" level="WARN"/>
    <logger name="com.zaxxer.hikari" level="WARN" />
    <logger name="io.netty" level="WARN"/>
    <logger name="com.viartemev" level="WARN"/>
    <logger name="com.rti.charisma" level="INFO"/>
    <root level="info">
        <appender-ref ref="ROLLING_FILE"/>
    </root>
</configuration>
