<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%t] - %-40.40logger{39} - %msg%n</pattern>
        </encoder>
    </appender>
<!--    <appender name="ROLLING_FILE"-->
<!--              class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>logs/app.log</file>-->
<!--        <rollingPolicy-->
<!--                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">-->
<!--            <fileNamePattern>-->
<!--                logs/app.%d{yyyy-MM-dd-mm}.%i.log.zip-->
<!--            </fileNamePattern>-->
<!--            <maxFileSize>1MB</maxFileSize>-->
<!--            <maxHistory>10</maxHistory>-->
<!--            <totalSizeCap>10MB</totalSizeCap>-->
<!--        </rollingPolicy>-->
<!--        <encoder>-->
<!--            <pattern>%d{YYYY-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

    <logger name="ktor.application" level="INFO" />
    <logger name="Application_Charisma" level="INFO"/>
    <logger name="com.rti.charisma" level="INFO"/>
    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
